/* navbar */
.navbar-default {
	background-color: #303f9f;
	border-color: #303f9f;
	border-radius: 0px;
	box-shadow: 0px 3px 3px #1c313a;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 22px;
	border: 1px solid #fff;
	margin-top: 8px;
	width: 160px;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #b2ff59;
	border-color: #b2ff59;
}
/* Link */
.navbar-default .navbar-nav > li > a {
	color: #fff;
	margin: 2px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #c0ca33;
	background-color: #666ad1;
	border-radius: 25px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #c0ca33;
	background-color: #666ad1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #c0ca33;
	background-color: #D5D5D5;
}

/* Mobile version */
.navbar-default .navbar-toggle {
	border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #666ad1;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
	}
}

button.navbar-btn{
	margin-top: 8px;
} 

.btn-custom {
	color: #fff;
}    
.btn.btn-custom {
	width: 80px;
	height: 40px;
	border-radius: 20px;
	color: #1565c0;
	font-family: 'Open Sans', sans-serif;
}

.btn.btn-custom:hover {
	color: #fff;
	font-weight: 600;
	box-shadow: 3px 8px 10px #484848;
	transform: translateY(-3px);
	transition: all 0.3s ease 0s;
}
.btn.btn-custom:focus {
	outline: none;
}

#sign-up {
	margin-left: 10px;
}

#sign-up:hover {
	background-color: #f57f17;
	text-decoration: none;
}

#login:hover {
	background-color: #d50000;
	text-decoration: none;
}

.btn-primary {
	background-color: #2979ff;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

#slogan {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}

.jumbotron {
	color: #37474f;
	background-color:rgba(230,230,255,0.5);
/*	box-shadow: 0px 0px 15px #484848;*/
}

.override-nav-btn {
	color: #fff !important;
}

.btn.btn-custom.override-nav-btn {
	background-color: #303f9f !important;
}

.btn.btn-custom.override-nav-btn:hover {
	background-color: #303f9f;
	border: 1px solid #fff;
	transition: 0;
	transform: translateY(0px);
	box-shadow: 0px 0px 0px;
	font-weight: normal;
}


.btn.btn-custom.override-nav-btn:focus {
	background-color: #666ad1;
}

#about {
	margin-left: 10px;
}

hr {
	border-top: 1px dashed #cfd8dc;
}

#getting-started-btn {
	border-color: #2979ff;
}

#getting-started-btn:focus {
	outline: none;
	background-color: #0043ca;
	border-color: #0043ca
}
#getting-started-btn:hover {
	background-color: #2979ff;
	border-color: #2979ff;
	box-shadow: 0px 10px 10px #8c8b8b;
	transform: translateY(-5px);
	transition: all 0.3s ease 0s;
}

.thumbnail:hover {
	box-shadow: 0px 10px 10px #484848;
	transition: all 0.3s ease 0s;
	transform: translateY(-8px);
}

#content-container {
	margin-top: 70px;
	padding-top: 20px;
	/*border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
	border-radius: 10px;

	background: rgba(75,232,130,0.94);
	background: -moz-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(75,232,130,0.94)), color-stop(72%, rgba(32,124,229,0.95)), color-stop(100%, rgba(32,124,229,0.95)));
	background: -webkit-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: -o-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: -ms-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: linear-gradient(to right, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4be882', endColorstr='#207ce5', GradientType=1 );

}

#signature {
	margin-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: rgba(75,232,130,0.94);
	background: -moz-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(75,232,130,0.94)), color-stop(72%, rgba(32,124,229,0.95)), color-stop(100%, rgba(32,124,229,0.95)));
	background: -webkit-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: -o-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: -ms-linear-gradient(left, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	background: linear-gradient(to right, rgba(75,232,130,0.94) 0%, rgba(32,124,229,0.95) 72%, rgba(32,124,229,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4be882', endColorstr='#207ce5', GradientType=1 );
}

.white-text {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}